<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

	<!-- 方便使用注解注入实例对象 -->
	<!-- <context:component-scan base-package="com.km.*"/> -->

	<!-- use-default-filters="false" 只扫描指定的注解此处为指定 Repository的范围-->
	<context:component-scan base-package="com.km.dao,com.km.common.dao"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Repository" />
	</context:component-scan>

	<!-- 此处指定为Service的范围 -->
	<context:component-scan base-package="com.km.service,com.km.common.service"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Service" />
	</context:component-scan>

   <bean id="springUtil" class="com.km.util.SpringUtil"></bean>
   <import resource="mybean.xml"/>
   

	<!-- 指定需要引入的数据库连接属性配置文件 -->
	<bean id="jdbcPropertyConfig"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="true"></property>
		<property name="locations">
			<list>
				<value>classpath:/com/km/config/mysqljdbc.properties</value>
			</list>
		</property>
	</bean>

	<!-- 定义数c3p0据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<!-- 驱动名称 -->
		<property name="driverClass" value="${jdbc.driver_class}" />
		<!-- 用户名 -->
		<property name="user" value="${jdbc.user}" />
		<!-- 密码 -->
		<property name="password" value="${jdbc.password}" />
		<!-- 连接串 -->
		<property name="jdbcUrl" value="${jdbc.url}" />
		<!-- 连接池的最小值 -->
		<property name="minPoolSize" value="${jdbc.min_size}" />
		<!-- 连接池的最大值 -->
		<property name="maxPoolSize" value="${jdbc.max_size}" />
		<!-- 最大缓存对象 -->
		<property name="maxStatements" value="${jdbc.max_statements}" />
		<!-- 初始化连接池大小 -->
		<property name="initialPoolSize" value="${jdbc.init_size}" />
		<!-- 表示idle状态的connection能存活的最大时间 -->
		<property name="maxIdleTime" value="${c3p0.maxIdleTime}" />
		
		<!-- <property name="preferredTestQuery"><value>SELECT 1</value></property> -->
		
	</bean>

	<!-- 配置hibernate的sessionFactory 注入数据源 -->
	<!-- hibernate.dialect指定要使用的数据库方言 -->
	<!-- hibernate.hbm2ddl.auto 指定schema更新方式 -->
	<!-- hibernate.show_sql 是否显示执行的sql -->
	<!-- hibernate.format_sql 是否格式化显示的sql -->
	<!-- hibernate.jdbc.batch_size 每次抓取数据的大小 -->
	<!-- hibernate.default_batch_fetch_size 关联的批量抓取设置默认数量 --> 
	<!-- hibernate.max_fetch_depth 设置外连接抓取树的最大深度 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<value>
				hibernate.dialect = ${hibernate.dialect}
				hibernate.hbm2ddl.auto = ${hibernate.hbm2ddl.auto}
				hibernate.show_sql = ${hibernate.show_sql}
				hibernate.format_sql = ${hibernate.format_sql}
				hibernate.jdbc.batch_size = ${hibernate.jdbc.batch_size}
				hibernate.default_batch_fetch_size = ${hibernate.default_batch_fetch_size}
				hibernate.max_fetch_depth = ${hibernate.max_fetch_depth}
			</value>
		</property>
		<!-- 指定实体扫描范围 -->
		<property name="packagesToScan">
			<list>
				<value>com.km.bean</value>
				<value>com.km.common.bean</value>
			</list>
		</property>
	</bean>


	<!-- 事务管理 注：事实上当事务管理器名字为transactionManager时，
	就不需要加transaction-manager属性 -->
	<aop:aspectj-autoproxy expose-proxy="true" />
	<tx:annotation-driven transaction-manager="kmManager" />
	<bean id="kmManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- 配置事务增强处理Bean,指定事务管理器 -->
	<tx:advice id="kmH4Advice" transaction-manager="kmManager">
		<!-- 用于配置详细的事务定义 -->
		<tx:attributes>
			<!-- 所有以'get'开头的方法是read-only的 -->
			<tx:method name="get*" read-only="true" />
			<!-- 其他方法使用默认的事务设置，指定超时时长为5秒 -->
			<tx:method name="*" isolation="DEFAULT" propagation="REQUIRED"
				timeout="5" />
		</tx:attributes>
	</tx:advice>
	<!-- AOP配置的元素 -->
	<aop:config expose-proxy="true">
		<!-- 对基类业务逻辑层实施事务 -->
		<aop:pointcut id="kmH4TPointcutSuper"
			expression="execution(* com.km.common.service..*.*(..))" />
		<aop:advisor advice-ref="kmH4Advice" pointcut-ref="kmH4TPointcutSuper" />
	</aop:config>
	<aop:config expose-proxy="true">
		<!-- 配置一个切入点 对子类业务逻辑层实施事务 -->
		<aop:pointcut id="myPointcut" expression="execution(* com.km.servie..*.*(..))" />
		<!-- 指定在myPointcut切入点应用txAdvice事务增强处理 -->
		<aop:advisor advice-ref="kmH4Advice" pointcut-ref="myPointcut" />
	</aop:config>

</beans>

